/* jumbotron pushed down to show space between navbar */
.my-3 {
    margin-top: 4.5rem!important;
}

/* decrease padding and background color */
.padding,
.jumbotron {
    padding: 3rem!important;
    background-color: #ffffff;
}

/* decrease space between <hr> and <p> in jumbotron */
.lead {
    margin-bottom: 0px;
}

/* background color */
body {
    background: -webkit-linear-gradient(-43deg, rgb(181, 246, 248), rgb(255, 240, 178));
    background: linear-gradient(-43deg, rgb(181, 246, 248), rgb(255, 240, 178));
}

/* add spacing between goal inputs */
.mb-3 {
    margin-bottom: 2rem!important;
}

/* card footer for goals section (make the same size as other footers with buttons */
.addPadding {
    padding-top: 31px;
    padding-bottom: 31px;
}

/* change navbar and footer color */
.bg-dark {
    background-color: #596469!important;
}

/* --------------------------------------------------------------------------------------------------------------------- */
/* input.html page  */

/* change container positioning to center of page  */
.position {
    margin-bottom: 1.5rem!important;
    margin-top: 5rem!important;
}

label {
    font-size: 1.2rem;
}